---
layout: base.njk
title: Photos
permalink: /photos/
---
<div class="photo-grid">
    <img src="/assets/images/2024/toowoomba/mt-lofty.jpeg">
    <img src="/assets/images/2024/toowoomba/rangeville.jpeg">
    <img src="/assets/images/2024/toowoomba/picnic-pt-lookout.jpeg">
    <img src="/assets/images/2024/lamington-9.jpeg">
    <img src="/assets/images/2024/lamington-14.jpeg">
    <img src="/assets/images/2024/lamington-12.jpeg">
    <img src="/assets/images/2024/IMG_0871.jpeg">
    <img src="/assets/images/2024/IMG_0851.jpeg">
    <img src="/assets/images/2024/IMG_0841.jpeg">
    <img src="/assets/images/2024/IMG_0826.jpeg">
    <img src="/assets/images/2024/IMG_0815.jpeg">
    <img src="/assets/images/2023/IMG_2193.jpeg">
    <img src="/assets/images/2023/IMG_0703.jpeg">
    <img src="/assets/images/2023/IMG_0215.jpeg">
    <img src="/assets/images/2023/IMG_0021.jpeg">
    <img src="/assets/images/2023/IMG_0017.jpeg">
    <img src="/assets/images/2023/IMG_0718.jpeg">
    <img src="/assets/images/2023/IMG_2383.jpeg">
    <img src="/assets/images/2023/IMG_2277.jpeg">
    <img src="/assets/images/2023/IMG_0710.jpeg">
    <img src="/assets/images/2023/IMG_0010.jpeg">
    <img src="/assets/images/2022/workspace.jpg">
    <img src="/assets/images/2020/postcards-to-the-future.jpeg">
    <img src="/assets/images/2020/dd_2.webp">
    <img src="/assets/images/2019/future-making.jpg">
    <img src="/assets/images/2018/skpr_1.jpg">
    <img src="/assets/images/2018/skpr_2.jpg">
    <img src="/assets/images/2018/skpr_4.jpg">
    <img src="/assets/images/2018/ninasam.jpg">
    <img src="/assets/images/2017/interact_1.jpg">
    <img src="/assets/images/2016/metro.jpg">
    <img src="/assets/images/2014/slabs.jpg">
    <img src="/assets/images/2013/scsa.jpg">
    <img src="/assets/images/2013/old-campus.jpg">
</div>

<style>
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row;
        gap: 10px;
    }
    .photo-grid img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
</style>
