@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');

@font-face {
    font-family: 'Happy Times';
    src: url('happytimes/happy-times-at-the-ikob-webfont.woff2') format('woff2'),
        url('happytimes/happy-times-at-the-ikob-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happy Times';
    src: url('happytimes/happy-times-at-the-ikob_italic-webfont.woff2') format('woff2'),
        url('happytimes/happy-times-at-the-ikob_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura Renner';
    src: url('futurarenner/FuturaRenner-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-black: #000;
    --color-grey: #666;
    --color-light-grey: #dadada;
    --font-family-serif: 'Happy Times', serif;
    --font-family-sans-serif: 'Uncut Sans', sans-serif;
    --font-family-monospace: monospace;

    --font-size-body: 24px;
    --line-height-body: 1.2;
}
